@charset"utf-8";

:root {
  --primary: #74BBFB;
  --secondary: #ff66c4;
  --white: #ffffff;
  --black: #000000;
  --lightGrayBg: #f6f6f7;
  --lightSkyBg: #f3f9ff;
  --hdnColor: #222222;
  --textColor: #484646;
  --textColorGray: #888888;
  --grayBorder: #d4d2cf;
  --hdnFont: "Permanent Marker", cursive;
}


@font-face {
  font-family: 'freestyle_scriptregular';
  src: url('../fonts/freescpt-webfont.woff2') format('woff2'),
    url('../fonts/freescpt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background-color: #ffffff;
}

div,
table,
td,
tr,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--hdnFont);
  color: var(--hdnColor);
  font-weight: normal;
}

a {
  text-decoration: none;
  border: none;
  outline: 0;
  transition: all ease-in-out 0.3s;
  color: #fdc716;
}

a:hover {
  text-decoration: none;
  border: none;
  outline: 0;
  color: #74BBFB;
}

a:focus {
  text-decoration: none;
  border: none;
  outline: 0;
}

button,
button:focus {
  text-decoration: none;
  border: none;
  outline: 0;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p:empty {
  display: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  color: var(--textColor);
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 15px;
}

a.dfltBtn {
  font-family: var(--hdnFont);
  font-size: 25px;
  color: #0052ff;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 40px;
  padding: 16px 50px;
  background: rgb(3, 47, 229);
  background: linear-gradient(90deg, rgba(3, 47, 229, 1) 0%, rgba(3, 47, 229, 0.75) 100%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.dfltBtn:hover {
  background: rgb(3, 47, 229);
  background: linear-gradient(90deg, rgba(3, 47, 229, 0.65) 0%, rgba(3, 47, 229, 1) 100%);
}

a.dfltWhiteBtn {
  background: var(--white);
  color: #0052ff;
}

a.dfltWhiteBtn:hover {
  background: var(--black);
  color: var(--white);
}

.lightGrayBg {
  background-color: var(--lightGrayBg);
}

.lightSkyBg {
  background-color: var(--lightSkyBg);
}


/*================ Header Style Start ================*/
.mainHdrSec {
  position: relative;
  padding: 15px 0;
}

.hdrRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hdrLeftPrt img {
  max-width: 160px;
}

.hdrRightPrt {
  text-align: right;
}

.hdrRightPrt P {
  font-family: "Courgette", cursive;
  font-size: 30px;
  color: var(--white);
  display: inline-block;
  background: rgb(3, 47, 229);
  background: linear-gradient(90deg, rgba(2, 90, 200, 1) 0%, rgba(3, 100, 200, 0.75) 100%);
  padding: 14px 35px;
  border-radius: 100px;
}

.hdrRightPrt P a {
  color: var(--white);
  text-decoration: underline;
  margin: 0 0 0 10px;
}

.hdrRightPrt P img {
  max-width: 35px;
  vertical-align: middle;
}

/*================ Header Style End ================*/


/*================ Footer Style Start ================*/
.btmMainFtr {
  position: relative;
  padding: 25px 0 10px 0;
  text-align: center;
}

.btmMainFtr h2 {
  font-size: 60px;
  color: #000;
  font-style: italic;
}

.btmMainFtr h3 {
  font-size: 25px;
  color: #000;
  font-style: italic;
  display: inline-block;
  background-color: var(--white);
  padding: 12px 30px;
  border-radius: 50px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: 10px 0 30px 0;
}

.ftrMnuOne ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ftrMnuOne ul li {
  font-family: var(--hdnFont);
  font-size: 30px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 40px;
}

.ftrMnuTwo ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.ftrMnuTwo ul li {
  font-family: var(--hdnFont);
  font-size: 30px;
  color: var(--secondary);
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 40px;
}

.ftrMnuTwo ul li a {
  color: #000;
  text-decoration: underline;
}

.ftrMnuTwo ul li a:hover {
  color: var(--black);
  text-decoration: underline;
}

.ftrMnuTwo ul li img {
  max-width: 50px;
  margin-right: 10px;
}

.ftrMnuTwo ul li:nth-child(2) {
  background-color: var(--white);
  padding: 12px 20px;
  border-radius: 6px;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.15); */
  font-weight: normal;
  font-size: 25px;
}

.ftrMnuTwo ul li:nth-child(2) strong {
  font-size: 30px;
}

.ftrCopyrightPrt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ftrCopyrightPrt p {
  font-family: var(--hdnFont);
  font-size: 14px;
  color: var(--black);
  font-weight: 700;
  margin: 0;
}

.ftrCopyrightPrt p.blackText {
  font-size: 13px;
  color: var(--black);
  font-weight: normal;
}

/*================ Footer Style End ================*/




/*================ Banner Style Start ================*/
.hmBnrSec {
  position: relative;
  padding: 20px 0 10px 0;
  text-align: center;
}

.hmBnrSec h1 {
  font-size: 55px;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 10px;
  margin-bottom: 30px;
}

.hmBnrSec h2 {
  font-size: 50px;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 30px;
}

.hmBnrSec p {
  max-width: 550px;
  margin: 0 auto;
}

.hmBnrSec .hmBnrContent {
  position: relative;
  padding: 0 150px;
}

.hmBnrSec .hmBnrContent::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 170px;
  background: url(../images/tiger-face-left.png) no-repeat 0 0;
  background-size: contain;
  top: 0;
  left: 0;
}

.hmBnrSec .hmBnrContent::after {
  position: absolute;
  content: '';
  width: 200px;
  height: 170px;
  background: url(../images/tiger-face-right.png) no-repeat 0 0;
  background-size: contain;
  top: 0;
  right: -20px;
}

/*================ About Style Start ================*/
.aboutSec {
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.aboutSec::after {
  position: absolute;
  content: '';
  width: 225px;
  height: 300px;
  background: url(../images/about-after.png) no-repeat 0 0;
  background-size: contain;
  bottom: 0;
  right: 0;
}

.aboutSec .container {
  position: relative;
}

.aboutImg {
  position: absolute;
  max-width: 650px;
  top: 145px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.aboutImg img {
  max-height: 600px;
}

.aboutImg::before {
  position: absolute;
  content: '';
  width: 130px;
  height: 200px;
  bottom: 85px;
  left: 150px;
  background: url(../images/money1.gif) no-repeat 0 0;
  background-size: contain;
  transform: rotate(200deg);
}

.aboutImg::after {
  position: absolute;
  content: '';
  width: 130px;
  height: 200px;
  bottom: 75px;
  right: 180px;
  background: url(../images/money2.gif) no-repeat 0 0;
  background-size: contain;
  transform: rotate(150deg);
}

.aboutBstTxt {
  position: absolute;
  width: 100%;
  top: 530px;
  left: 0;
  text-align: center;
}

.aboutBstTxt h2 {
  font-size: 35px;
  color: rgba(3, 90, 200, 0.75);
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  padding-right: 15px;
}

.aboutTextPrt {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.aboutTextPrt h2 {
  font-size: 65px;
  font-weight: 400;
  font-style: italic;
  padding-top: 25px;
}

.aboutTextPrt h2 span {
  color: rgba(3, 47, 229, 0.75);
}

/*================ Services Style Start ================*/
.servicesSec {
  position: relative;
  padding: 40px 0;
}

.servicesRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.servicesClm {
  width: 28%;
  text-align: center;
  background: rgb(3, 47, 229);
  background: linear-gradient(90deg, rgba(2, 90, 200, 1) 0%, rgba(3, 100, 200, 0.75) 100%);
  padding: 30px 0;
  border-radius: 40px;
}

.servicesClm h3 {
  font-size: 32px;
  color: #fff;
  padding: 0 15px;
}

.servicesClm p {
  font-size: 18px;
  color: var(--white);
  line-height: 28px;
  word-break: break-all;
}

.servicesClm p span {
  color: var(--secondary);
}

.servicesClm img {
  max-width: 80px;
}

.servicesClm .srvcClmText {
  padding: 0 25px;
}

.servicesClm .srvcClmImg {
  background: rgb(231, 231, 231);
  background: linear-gradient(90deg, rgba(209, 209, 209, 1) 0%, rgba(242, 242, 242, 1) 100%);
  width: 100%;
  padding: 15px 10px;
  margin: 20px 0;
}

/*================ Disclamer Style Start ================*/
.disclamerSec {
  position: relative;
  padding: 25px 0;
}

.disclamerSec::before {
  position: absolute;
  content: '';
  width: 190px;
  height: 280px;
  bottom: 0;
  left: 0;
  background: url(../images/disclamer-before.png) no-repeat 0 0;
  background-size: contain;
}

.disclamerSec::after {
  position: absolute;
  content: '';
  width: 190px;
  height: 240px;
  bottom: 0;
  right: 0;
  background: url(../images/disclamer-after.png) no-repeat 0 0;
  background-size: contain;
}

.disclamerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.disclamerItm {
  width: 43%;
  background: rgb(3, 47, 229);
  background: linear-gradient(90deg, rgba(2, 90, 200, 1) 0%, rgba(3, 100, 200, 0.75) 100%);
  padding: 30px 20px;
  border-radius: 40px;
}

.disclamerItm h3 {
  font-size: 32px;
  color: #fff;
  font-style: italic;
  padding-bottom: 15px;
}

.disclamerItm p {
  font-size: 18px;
  color: var(--white);
  line-height: 30px;
  word-break: break-all;
}

.disclamerVerticalItm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disclamerVerticalItm h2 {
  position: relative;
  font-size: 35px;
  color: #000;
  line-height: 55px;
  font-style: italic;
}

.disclamerVerticalItm h2::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  top: -90px;
  left: -40px;
  background: url(../images/mr-beast-logo-black.png) no-repeat 0 0;
  background-size: contain;
}

.disclamerVerticalItm h2::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  bottom: -105px;
  left: -40px;
  background: url(../images/mr-beast-logo-black.png) no-repeat 0 0;
  background-size: contain;
}




/*=============== Responsive Style ===============*/
@media (max-width: 1400px) {}


@media (max-width: 1300px) {
  .ftrCopyrightPrt {
    text-align: center;
  }

  .ftrCopyrightPrt p {
    width: 100%;
  }
}


@media (max-width: 1199px) {
  .hdrLeftPrt img {
    max-width: 100px;
  }

  .hdrRightPrt P {
    font-size: 20px;
    padding: 10px 25px;
  }

  .hdrRightPrt P img {
    max-width: 25px;
  }

  .hmBnrSec .hmBnrContent::before,
  .hmBnrSec .hmBnrContent::after {
    width: 180px;
    height: 150px;
  }

  .hmBnrSec h1,
  .hmBnrSec h2 {
    font-size: 40px;
  }

  .aboutTextPrt {
    max-width: 700px;
  }

  .aboutTextPrt h2 {
    font-size: 35px;
  }

  .aboutSec::after {
    width: 150px;
    height: 200px;
  }

  .servicesClm {
    width: 32%;
  }

  .servicesClm h3 {
    font-size: 25px;
  }

  .disclamerSec::before,
  .disclamerSec::after {
    display: none;
  }

  .btmMainFtr h2 {
    font-size: 45px;
  }

  .btmMainFtr h3 {
    font-size: 20px;
  }

  .ftrMnuOne ul li,
  .ftrMnuTwo ul li {
    font-size: 25px;
  }


  p {
    font-size: 18px;
    line-height: 32px;
  }
}


@media (max-width: 991px) {
  .hmBnrSec .hmBnrContent {
    padding: 0 130px;
  }

  .hmBnrSec .hmBnrContent::before,
  .hmBnrSec .hmBnrContent::after {
    width: 130px;
    height: 110px;
  }

  .hmBnrSec h1,
  .hmBnrSec h2 {
    font-size: 32px;
  }

  .aboutImg {
    max-width: 500px;
    top: 85px;
  }

  .aboutImg::before {
    width: 80px;
    height: 140px;
    bottom: 60px;
    left: 130px;
  }

  .aboutImg::after {
    width: 80px;
    height: 165px;
    bottom: 45px;
    right: 150px;
  }

  .aboutBstTxt {
    top: 360px;
  }

  .aboutBstTxt h2 {
    font-size: 25px;
  }

  .aboutTextPrt h2 {
    font-size: 30px;
  }

  .aboutSec::after {
    display: none;
  }

  .servicesClm {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
  }

  .disclamerItm {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
  }

  .disclamerVerticalItm {
    width: 100%;
    flex-direction: row;
    margin: 20px 0;
  }

  .disclamerVerticalItm h2 {
    letter-spacing: 15px;
  }

  .disclamerVerticalItm h2 br {
    display: none;
  }

  .disclamerVerticalItm h2::before,
  .disclamerVerticalItm h2::after {
    width: 70px;
    height: 70px;
  }

  .disclamerVerticalItm h2::before {
    top: 0;
    left: -85px;
  }

  .disclamerVerticalItm h2::after {
    bottom: -15px;
    right: -70px;
    left: inherit;
  }

  .ftrMnuOne ul li,
  .ftrMnuTwo ul li {
    font-size: 20px;
    margin: 10px 30px;
  }
}


@media (max-width: 767px) {

  .hmBnrSec .hmBnrContent::before,
  .hmBnrSec .hmBnrContent::after {
    width: 110px;
    height: 100px;
  }

  .hmBnrSec h1,
  .hmBnrSec h2 {
    font-size: 20px;
  }

  .aboutImg {
    top: 35px;
  }

  .aboutBstTxt {
    position: relative;
    top: 0;
  }

  .servicesClm p,
  .disclamerItm p {
    font-size: 16px;
  }

  .btmMainFtr h3 {
    font-size: 17px;
    word-break: break-all;
  }

  .ftrMnuOne ul li,
  .ftrMnuTwo ul li {
    font-size: 18px;
    margin: 10px 20px;
  }

  .ftrMnuTwo ul li:nth-child(2) {
    font-size: 18px;
  }

  .ftrMnuTwo ul li:nth-child(2) strong {
    font-size: 22px;
  }

  .ftrMnuTwo ul li img {
    max-width: 40px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
  }
}


@media (max-width: 576px) {
  .hmBnrSec .hmBnrContent {
    padding: 0 65px;
  }

  .hmBnrSec .hmBnrContent::before,
  .hmBnrSec .hmBnrContent::after {
    width: 60px;
    height: 50px;
  }

  .hmBnrSec h1 {
    margin-bottom: 10px;
  }

  .hmBnrSec h2 {
    padding-top: 15px;
  }

  .aboutImg::before {
    width: 50px;
    height: 80px;
    left: 105px;
  }

  .aboutImg::after {
    width: 50px;
    height: 80px;
    bottom: 45px;
    right: 115px;
  }

  .aboutBstTxt {
    top: 30px;
  }

  .aboutBstTxt h2 {
    font-size: 20px;
  }

  .aboutTextPrt {
    padding-top: 25px;
  }

  .aboutTextPrt h2 {
    font-size: 25px;
  }

  .disclamerItm h3 {
    font-size: 28px;
  }

  .disclamerVerticalItm h2 {
    font-size: 30px;
    letter-spacing: 12px;
  }

  a.dfltBtn {
    font-size: 20px;
    padding: 12px 30px;
  }
}


/*======= Responsive End  =======*/